BY:

### Carbon Credit Chronicles: Unraveling the Impact of Initiatives on Climate Change through Time Series Analysis ###

**Business Understanding**

In the contemporary era of environmental consciousness, businesses are increasingly investing in carbon credit initiatives to mitigate their ecological footprint. Understanding the true impact of these projects is crucial for regulatory bodies, investors, and researchers alike. This study seeks to delve into the intricacies of emission patterns before and after the implementation of carbon credit projects, employing advanced time series analysis techniques to unveil meaningful insights.

**Problem Statement**

As the global business landscape shifts towards sustainability, there is a growing need to comprehensively evaluate the effectiveness of carbon credit initiatives in curbing emissions. This study addresses the challenge of systematically assessing the impact of these projects on emission patterns through a rigorous time series analysis. The question at the forefront is: Do carbon credit initiatives significantly influence and contribute to the reduction of emissions over time?

**Main Objective**

To conduct a comprehensive time series analysis comparing emissions, aiming to evaluate their influence on emission patterns over time.

**Specific Objectives**

Identify Emission Trends: Analyze historical emissions data to uncover underlying trends over time. This involves exploring long-term patterns and variations to understand the trajectory of emissions before and after the implementation of carbon credit projects.

Assess Seasonal Patterns: Determine the seasonality of emissions, aiming to understand recurring patterns throughout the year. This objective seeks to identify if there are specific times or seasons when emissions tend to peak or decline, providing valuable insights into the temporal dynamics of carbon footprints.


Detect Anomalies and Outliers: Employ advanced anomaly detection techniques to identify unusual spikes or drops in emissions. This objective aims to pinpoint instances where the carbon credit initiatives might have had a sudden and significant impact, or conversely, instances where they may not have been as effective as expected.

Analyze Correlations: Investigate correlations between the implementation of carbon credit projects and changes in emission patterns. This involves exploring statistical relationships to determine whether the introduction of carbon credit initiatives correlates with observable shifts in emission trends, providing evidence of their efficacy.

Predictive Modeling for Carbon Credit Impact: Develop predictive models focusing on estimating the impact of future carbon credit projects. By forecasting potential emission reductions based on historical data and project parameters, this objective aims to provide a forward-looking perspective on the effectiveness of carbon credit initiatives.

In [37]:
#import the necessary libraries
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv(r"C:\Users\nimu\Downloads\annual-co2-emissions-per-country.csv")
df1 = pd.read_csv(r"C:\Users\nimu\Downloads\cumulative-co-emissions.csv")

# Merge based on 'Entity', 'Code', and 'Year'
merged_df = pd.merge(df, df1, on=['Entity', 'Code', 'Year'])

In [39]:
# Merging df3 with the previously merged DataFrame based on 'Entity', 'Code', and 'Year'
df3 = pd.read_csv(r"C:\Users\nimu\Downloads\change-co2-annual-pct.csv")
merged_df = pd.merge(merged_df, df3, on=['Entity', 'Code', 'Year'])

In [40]:
df4 = pd.read_csv(r"C:\Users\nimu\Downloads\annual-share-of-co2-emissions.csv")
# Merging df4 with the existing merged DataFrame based on 'Entity', 'Code', and 'Year'
merged_df = pd.merge(merged_df, df4, on=['Entity', 'Code', 'Year'])

# Display the updated merged DataFrame
merged_df.head()

,Entity,Code,Year,Annual CO₂ emissions,Cumulative CO₂ emissions,Annual CO₂ emissions growth (%),Share of global annual CO₂ emissions
0,Afghanistan,AFG,1950,84272.0,98928.0,475.000000,0.001421
1,Afghanistan,AFG,1951,91600.0,190528.0,8.695650,0.001435
2,Afghanistan,AFG,1952,91600.0,282128.0,0.000000,0.001416
3,Afghanistan,AFG,1953,106256.0,388384.0,15.999996,0.001598
4,Afghanistan,AFG,1954,106256.0,494640.0,0.000000,0.001565

In [41]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24786 entries, 0 to 24785
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                24786 non-null  object
 1   Code                                  21372 non-null  object
 2   Year                                  24786 non-null  int64
 3   Annual CO₂ emissions                  24786 non-null  float64
 4   Cumulative CO₂ emissions              24786 non-null  float64
 5   Annual CO₂ emissions growth (%)       24786 non-null  float64
 6   Share of global annual CO₂ emissions  24786 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.3+ MB

In [42]:
merged_df.isnull().sum()

Entity                                     0
Code                                    3414
Year                                       0
Annual CO₂ emissions                       0
Cumulative CO₂ emissions                   0
Annual CO₂ emissions growth (%)            0
Share of global annual CO₂ emissions       0
dtype: int64

In [43]:
merged_df = merged_df.drop('Code', axis=1)
merged_df.head()

,Entity,Year,Annual CO₂ emissions,Cumulative CO₂ emissions,Annual CO₂ emissions growth (%),Share of global annual CO₂ emissions
0,Afghanistan,1950,84272.0,98928.0,475.000000,0.001421
1,Afghanistan,1951,91600.0,190528.0,8.695650,0.001435
2,Afghanistan,1952,91600.0,282128.0,0.000000,0.001416
3,Afghanistan,1953,106256.0,388384.0,15.999996,0.001598
4,Afghanistan,1954,106256.0,494640.0,0.000000,0.001565