BY:

### Carbon Credit Chronicles: Unraveling the Impact of Initiatives on Climate Change through Time Series Analysis ###

**What are carbon credits?**

Carbon credits are tradable permits representing a reduction in greenhouse gas emissions. Entities exceeding emission limits buy credits, while those below can sell, creating economic incentives for emission reduction. The system aims to encourage a transition to cleaner practices and technologies.

**Business Understanding**

In the contemporary era of environmental consciousness, businesses are increasingly investing in carbon credit initiatives to mitigate their ecological footprint. Understanding the true impact of these projects is crucial for regulatory bodies, investors, and researchers alike. This study seeks to delve into the intricacies of emission patterns before and after the implementation of carbon credit projects, employing advanced time series analysis techniques to unveil meaningful insights.

**Problem Statement**

As the global business landscape shifts towards sustainability, there is a growing need to comprehensively evaluate the effectiveness of carbon credit initiatives in curbing emissions. This study addresses the challenge of systematically assessing the impact of these projects on emission patterns through a rigorous time series analysis. The question at the forefront is: Do carbon credit initiatives significantly influence and contribute to the reduction of emissions over time?

**Main Objective**

To conduct a comprehensive time series analysis comparing emissions, aiming to evaluate their influence on emission patterns over time.

**Specific Objectives**

Identify Emission Trends: Analyze historical emissions data to uncover underlying trends over time. This involves exploring long-term patterns and variations to understand the trajectory of emissions before and after the implementation of carbon credit projects.

Assess Seasonal Patterns: Determine the seasonality of emissions, aiming to understand recurring patterns throughout the year. This objective seeks to identify if there are specific times or seasons when emissions tend to peak or decline, providing valuable insights into the temporal dynamics of carbon footprints.


Detect Anomalies and Outliers: Employ advanced anomaly detection techniques to identify unusual spikes or drops in emissions. This objective aims to pinpoint instances where the carbon credit initiatives might have had a sudden and significant impact, or conversely, instances where they may not have been as effective as expected.

Analyze Correlations: Investigate correlations between the implementation of carbon credit projects and changes in emission patterns. This involves exploring statistical relationships to determine whether the introduction of carbon credit initiatives correlates with observable shifts in emission trends, providing evidence of their efficacy.

Predictive Modeling for Carbon Credit Impact: Develop predictive models focusing on estimating the impact of future carbon credit projects. By forecasting potential emission reductions based on historical data and project parameters, this objective aims to provide a forward-looking perspective on the effectiveness of carbon credit initiatives.

In [7]:
#import the necessary libraries
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("./data/annual-co2-emissions-per-country.csv")
df1 = pd.read_csv("./data/cumulative-co-emissions.csv")

# Merge based on 'Entity', 'Code', and 'Year'
merged_df = pd.merge(df, df1, on=['Entity', 'Code', 'Year'])

In [9]:
# Merging df3 with the previously merged DataFrame based on 'Entity', 'Code', and 'Year'
df3 = pd.read_csv("./data/change-co2-annual-pct.csv")
merged_df = pd.merge(merged_df, df3, on=['Entity', 'Code', 'Year'])

df4 = pd.read_csv('./data/annual-share-of-co2-emissions.csv')
# Merging df4 with the existing merged DataFrame based on 'Entity', 'Code', and 'Year'
merged_df = pd.merge(merged_df, df4, on=['Entity', 'Code', 'Year'])
df5 = pd.read_csv('./data/co-emissions-per-capita.csv')
merged_df = pd.merge(merged_df, df5, on=['Entity', 'Code', 'Year'])

In [10]:
# Display the updated merged DataFrame
merged_df.head()

,Entity,Code,Year,Annual CO₂ emissions,Cumulative CO₂ emissions,Annual CO₂ emissions growth (%),Share of global annual CO₂ emissions,Annual CO₂ emissions (per capita)
0,Afghanistan,AFG,1950,84272.0,98928.0,475.000000,0.001421,0.011266
1,Afghanistan,AFG,1951,91600.0,190528.0,8.695650,0.001435,0.012098
2,Afghanistan,AFG,1952,91600.0,282128.0,0.000000,0.001416,0.011946
3,Afghanistan,AFG,1953,106256.0,388384.0,15.999996,0.001598,0.013685
4,Afghanistan,AFG,1954,106256.0,494640.0,0.000000,0.001565,0.013511

In [11]:
#check for missing values
merged_df.isnull().sum()

Entity                                     0
Code                                    3057
Year                                       0
Annual CO₂ emissions                       0
Cumulative CO₂ emissions                   0
Annual CO₂ emissions growth (%)            0
Share of global annual CO₂ emissions       0
Annual CO₂ emissions (per capita)          0
dtype: int64

In [13]:
merged_df = merged_df.drop(['Code'], axis=1)

In [14]:
merged_df.shape

(24196, 7)

In [15]:
merged_df.head()

,Entity,Year,Annual CO₂ emissions,Cumulative CO₂ emissions,Annual CO₂ emissions growth (%),Share of global annual CO₂ emissions,Annual CO₂ emissions (per capita)
0,Afghanistan,1950,84272.0,98928.0,475.000000,0.001421,0.011266
1,Afghanistan,1951,91600.0,190528.0,8.695650,0.001435,0.012098
2,Afghanistan,1952,91600.0,282128.0,0.000000,0.001416,0.011946
3,Afghanistan,1953,106256.0,388384.0,15.999996,0.001598,0.013685
4,Afghanistan,1954,106256.0,494640.0,0.000000,0.001565,0.013511

In [51]:
#Load the datasets by organization
df1 = pd.read_csv('./data/credits/ACR/ACR Issuances.csv')
df2 = pd.read_csv('./data/credits/CAR/CAR Issuances.csv')
df3 = pd.read_csv('./data/credits/Gold/Gold Issuances.csv')

# Assign the organization the dataset is from.
df1['Organization'] = 'ACR'
df2['Organization'] = 'CAR'
df3['Organization'] = 'Gold'

In [52]:
#Load the projects data
df1_projects = pd.read_csv('./data/credits/ACR/ACR Projects.csv')
df2_projects = pd.read_csv('./data/credits/CAR/CAR Projects.csv')
df3_projects = pd.read_csv('./data/credits/Gold/Gold Projects.csv')

#Rename the GS_ID to Project ID for merging.
df3_projects.rename(columns={'GS_ID': 'Project ID'}, inplace=True)

In [53]:
df1.rename(columns={'Issuance \r\nYear': 'Issuance Year', 'Total Credits Issued': 'Total Offset Credits Issued'}, inplace=True)
df2.rename(columns={'Issuance \r\nYear': 'Issuance Year'}, inplace=True)
df3.rename(columns={'Issuance \r\nYear': 'Issuance Year', 'Country':'Project Site Country', 'Quantity':'Total Offset Credits Issued'}, inplace=True)

In [54]:
def createNewDf(df, projects_df):
    columns = ["Project ID", "Total Offset Credits Issued", "Project Site Country", "Issuance Year", "Organization"]
    new_df = df[columns].copy()
    merged_new_df = pd.merge(new_df, projects_df[['Project ID', 'Project Name']], on='Project ID', how='left')
    return merged_new_df

In [55]:
new_df1 = createNewDf(df1, df1_projects)
new_df2 = createNewDf(df2, df2_projects)
new_df3 = createNewDf(df3, df3_projects)

In [56]:
merged_org_df = pd.concat([new_df1, new_df2, new_df3], ignore_index=True)
merged_org_df.shape

(16537, 6)

In [57]:
merged_org_df.head()

,Project ID,Total Offset Credits Issued,Project Site Country,Issuance Year,Organization,Project Name
0,ACR167,125000,US,2002,ACR,Nitrogen Oxide Abatement at the DuPont Sabine ...
1,ACR163,500,US,2004,ACR,Des Plaines LFG to Energy
2,ACR103,5825,US,2005,ACR,Inland Empire Anaerobic Ag Digester
3,ACR103,8023,US,2005,ACR,Inland Empire Anaerobic Ag Digester
4,ACR163,1000,US,2005,ACR,Des Plaines LFG to Energy

In [59]:
merged_org_df.isnull().sum()

Project ID                     0
Total Offset Credits Issued    0
Project Site Country           0
Issuance Year                  0
Organization                   0
Project Name                   3
dtype: int64

In [60]:
merged_org_df.dropna()

,Project ID,Total Offset Credits Issued,Project Site Country,Issuance Year,Organization,Project Name
0,ACR167,125000,US,2002,ACR,Nitrogen Oxide Abatement at the DuPont Sabine ...
1,ACR163,500,US,2004,ACR,Des Plaines LFG to Energy
2,ACR103,5825,US,2005,ACR,Inland Empire Anaerobic Ag Digester
3,ACR103,8023,US,2005,ACR,Inland Empire Anaerobic Ag Digester
4,ACR163,1000,US,2005,ACR,Des Plaines LFG to Energy
...,...,...,...,...,...,...
16532,GS997,4947,India,2017,Gold,LAYA Paderu Energy Efficient Woodstoves Project
16533,GS997,5869,India,2019,Gold,LAYA Paderu Energy Efficient Woodstoves Project
16534,GS997,5879,India,2019,Gold,LAYA Paderu Energy Efficient Woodstoves Project
16535,GS997,6110,India,2022,Gold,LAYA Paderu Energy Efficient Woodstoves Project
16536,GS997,6097,India,2022,Gold,LAYA Paderu Energy Efficient Woodstoves Project